.container{
    display: flex;
}

.quadrado{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 1px;
}

.azul{
    background-color: aqua;
}

.verde{
    background-color: chartreuse;
}

.amarelo{
    background-color: yellow;
}

.borda{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}